<div class="sl-gear-grid">
  <div class="hand-slot sl-card" data-hand="left">
    <div class="sl-card-head">
      <h3>Left Hand</h3>
      <button class="sl-icon-button" type="button" data-action="item-delete" title="Clear slot">
        ✕
      </button>
    </div>
    {{#if system.hands.left}}
      <div class="sl-hand-card" data-item-id="{{system.hands.left._id}}">
        <img src="{{system.hands.left.img}}" alt="{{system.hands.left.name}}" />
        <div class="sl-hand-meta">
          <div class="sl-hand-name">
            {{#if system.hands.left.name}}
              {{system.hands.left.name}}
            {{else}}
              {{system.hands.left}}
            {{/if}}
          </div>
          <div class="sl-hand-sub">
            {{#if system.hands.left.type}}
              {{system.hands.left.type}}
            {{else}}
              Drag a weapon here
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="sl-slot-placeholder">
        Drop a weapon here
      </div>
    {{/if}}
  </div>

  <div class="hand-slot sl-card" data-hand="right">
    <div class="sl-card-head">
      <h3>Right Hand</h3>
      <button class="sl-icon-button" type="button" data-action="item-delete" title="Clear slot">
        ✕
      </button>
    </div>
    {{#if system.hands.right}}
      <div class="sl-hand-card" data-item-id="{{system.hands.right._id}}">
        <img src="{{system.hands.right.img}}" alt="{{system.hands.right.name}}" />
        <div class="sl-hand-meta">
          <div class="sl-hand-name">
            {{#if system.hands.right.name}}
              {{system.hands.right.name}}
            {{else}}
              {{system.hands.right}}
            {{/if}}
          </div>
          <div class="sl-hand-sub">
            {{#if system.hands.right.type}}
              {{system.hands.right.type}}
            {{else}}
              Drag a weapon here
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="sl-slot-placeholder">
        Drop a weapon here
      </div>
    {{/if}}
  </div>
</div>
